<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚙️</text></svg>"
    />
    <title>cse341-TvShows API</title>
  </head>
  <body>
    <header id="header">
      <div class="navbar-title">
        <h3 class="title-first-name">CSE341</h3>
        <h3 class="title-last-name">TvShows API</h3>
      </div>

      <nav>
        <ul class="page-links">
          <li>
            <span>👋</span>
            <a href="#about" target="_blank">&lt; About &gt;</a>
          </li>
          <li>
            <span>📖</span>
            <a href="/api-docs">&lt; API Docs &gt;</a>
          </li>
          <li class="login">
            <span>🔑</span>
            <a href="/login"> Log In </a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="content-body">
      <section class="hero-content">
        <div class="hero-section">
          <div class="project-tags">
            <p>Web Services</p>
            <p>Authentication</p>
            <p>APIs</p>
            <p>API Documentation</p>
          </div>
          <div class="hero-intro">
            <h1>
              cse 431 - Web Service Course:<br /><span>TV Shows API</span>
            </h1>
            <p>
              I'm thrilled to have you here. The TV Shows API is your ultimate
              resource for managing TV show data efficiently and effectively.
              Whether you're a developer building an application that needs TV
              show data or a hobbyist looking to explore the world of TV series,
              our API provides a comprehensive, easy-to-use solution.
            </p>
            <a href="/signup">GET STARTED!</a>
          </div>
        </div>
        <div class="hero-section-2">
          <div class="">
            <h2>Explore, Manage, and Integrate with Ease</h2>
            <p>
              Our API allows you to perform a wide range of operations, from
              fetching details about your favorite TV shows to managing user
              data. With robust features like filtering, sorting, and
              pagination, you can tailor the data retrieval to suit your
              specific needs.
            </p>
          </div>
          <div class="">
            <h2>Key Features</h2>
            <ul>
              <li>
                <span>TV Show Management</span>: Easily create, read, update,
                and delete TV show records.
              </li>
              <li>
                <span>User Management</span>: Manage user accounts, including
                registration, login, and logout. Handle user data seamlessly,
                ensuring a smooth user experience.
              </li>
              <li>
                <span>Authentication</span>: Protect your API endpoints with JWT
                authentication.
              </li>
              <li>
                <span>Advanced Queries</span>: Get running TV shows on specific
                networks, retrieve statistics, and more.
              </li>
              <li>
                <span>API Documentation</span>: A comprehensive Swagger UI
                documentation provides clear and detailed descriptions of all
                endpoints, making integration a breeze.
              </li>
            </ul>
          </div>
        </div>
        <div class="hero-section-3">
          <div class="get-started-cta">
            <h3>Get Started</h3>
            <p>
              Dive into our detailed documentation to get started with the TV
              Shows API. Whether you need to fetch data about TV shows or manage
              user information, our API is designed to be intuitive and
              powerful.
            </p>
            <a href="/signup">Get Started</a>
          </div>
          <div class="contact">
            <h3>Contact Us</h3>
            <p>
              Have any questions, feedback or don't hesitate to reach out. We're
              here to help you make the most out of our API. Reach out to us at:
              <a href="mailto:tur22018@byui.edu">tur22018@byui.edu</a>
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <div class="footer-left">
        <p>Let's make something amazing together</p>
      </div>
      <div class="copy-right">
        <p>© 2024 cse341. .|> Samuel Turay <|. All rights reserved.</p>
      </div>
    </footer>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="js/script.js"></script>
  </body>
</html>
