extends layout

block content
  main#content-body
    section.hero-content
      .hero-section
        .project-tags
          p Web Services
          p Authentication
          p APIs
          p API Documentation
        .hero-intro
          h1
            | cse 431 - Web Service Course:
            br
            span TV Shows API
          p
            | I'm thrilled to have you here. The TV Shows API is your ultimate resource for managing TV show data efficiently and effectively.
            | Whether you're a developer building an application that needs TV show data or a hobbyist looking to explore the world of TV series,
            | our API provides a comprehensive, easy-to-use solution.
          a(href="/signup") GET STARTED!
      .hero-section-2
        div
          h2 Explore, Manage, and Integrate with Ease
          p
            | Our API allows you to perform a wide range of operations, from fetching details about your favorite TV shows to managing user data.
            | With robust features like filtering, sorting, and pagination, you can tailor the data retrieval to suit your specific needs.
        div
          h2 Key Features
          ul
            li
              span TV Show Management
              | : Easily create, read, update, and delete TV show records.
            li
              span User Management
              | : Manage user accounts, including registration, login, and logout. Handle user data seamlessly, ensuring a smooth user experience.
            li
              span Authentication
              | : Protect your API endpoints with JWT authentication.
            li
              span Advanced Queries
              | : Get running TV shows on specific networks, retrieve statistics, and more.
            li
              span API Documentation
              | : A comprehensive Swagger UI documentation provides clear and detailed descriptions of all endpoints, making integration a breeze.
      .hero-section-3
        .contact
          h3 Contact Us
          p
            | Have any questions, feedback or don't hesitate to reach out. We're here to help you make the most out of our API. Reach out to us at:
            a(href="mailto:tur22018@byui.edu") tur22018@byui.edu
        .get-started-cta
          h3 Get Started
          p
            | Dive into our detailed documentation to get started with the TV Shows API. Whether you need to fetch data about TV shows or manage
            | user information, our API is designed to be intuitive and powerful.
          a(href="/signup") Get Started
