doctype html
html(lang="en")
  include partials/head.pug
  body
    include partials/header.pug
    block content
    include partials/footer.pug
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
    script(src="/js/script.js")
